{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
    Upload a New Crop


{% endblock title %}


{% block body %}
    <div class="container">

  {% include 'messages.html' %}
  <h2 class="text-center mt-5 mb-5 animate__animated animate__slideInDown">
      Sell a Crop
    </h2>
  <div class="row">
    {% include 'includes/dashboardSideBar.html' %}
    <main class="col-md-9 my-2">
      <article class="card w-100">
        <header class="card-header">
          <strong class="d-inline-block mr-3">Enter Crop Details</strong>
        </header>
        <div class="card-body w-100">
          
          <br />
          <div class="row">
            <div class="col-md-12">
              <form method="POST" action="{% url 'upload_crop' %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                  <div class="form-group">
                    <label>Crop Name</label>
                    <input
                        name="crop_name"
                        type="text"
                        class="form-control"
                        placeholder = "Enter Crop Name"
                        
                    />
                    
                  </div>
                  
                  <div class="form-group">
                    <label>Crop Picture</label>
                        <input type = "file" class ="form-control" name = "img">
                  </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" rows="3" placeholder = "Enter Crop Description" name = "description"></textarea>
                </div>



                <div class="form-group">
                  <label>Crop Base Price /quintal</label>

                  
                        <input
                        name="base_price"
                        type="number"
                        class="form-control"
                        placeholder = "Enter Base Price"
                    
                    />

                </div>

                
                <div class="form-group">
                  <label>Crop Stock</label>

                  
                        <input
                        name="stock"
                        type="number"
                        class="form-control"
                        placeholder = "Enter Stock"
                    
                    />

                </div>
                
                
                
                <button class="btn btn-light" type="submit" value="Save">Upload</button>
              </form>
            </div>
          </div>
          
        </div>
        
      </article>
         </main>
  </div>
  
</div>



{% endblock body %}







